
body {
    background-color:darkslategray;
    /* background-image: url("/images/tavern.jpeg");
    background-size: cover;
    background-repeat: no-repeat; */
}

#header-div {
    position: fixed;
    bottom: 35%;
    width: 100%;
}

#message {
    font-size: 22px;
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 75px;
    color: whitesmoke;
    padding: 10px; 
}

#container {
    position: fixed;
    bottom: 40px; 
    width: 100%;
}

.btn {
    padding: 10px;
    margin: 15px;
    width: 30%;
}

#button-div {
    text-align: center;

}

p {
    text-align: center;
}